.container {
  background-color: hsl(var(--info-secondary));
  color: hsl(var(--info-secondary-text));
  text-align: center;
  padding: 0.5rem;
  border-radius: var(--info-border-card);

  h2 {
    margin: 1rem;
  }
}

.button-list {
  list-style: none;
  display: flex;
  padding: 0;
  gap: 1rem;
  justify-content: center;

  a {
    $size: 8rem;

    width: $size;
    height: $size;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    font-size: 1.5rem;

    svg {
      font-size: 2rem;
    }
  }
}
