.container {
  display: grid;
  grid-template-areas:
    'name'
    'occupation';

  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr auto;

  gap: 1rem;

  padding: 2rem;
  background-color: hsl(var(--info-secondary));
  color: hsl(var(--info-secondary-text));
  border-radius: var(--info-border-card);

  p {
    margin: 0;
  }
}

.name {
  grid-area: name;
}

.occupation {
  grid-area: occupation;
}
