:root {
  --sidebar-padding: 1rem;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: hsla(var(--info-primary), 0.1);
  padding: var(--sidebar-padding);
}

.qr-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.qr-code {
  width: 100%;
  height: fit-content;
}
