.form {
  display: grid;
  gap: 1rem;
  align-items: center;

  grid-template-columns: repeat(2, auto);

  .actions {
    place-self: flex-end;
    display: flex;
    gap: 1rem;
  }

  .actions,
  .error {
    grid-column: span 2;
  }
}
